@import "./../styles/variables.scss";


.header{
    color:rgb(188, 101, 93);
   
    height: $headerHeight;
    padding:0 1.5rem;
    
    @include breakpoint(md){
        padding:0 3rem;
    }
    transition:0.3s ease all;

    &__content{
        overflow:hidden;
        color:rgb(188, 101, 93);
        margin:0 7em;
        max-width: 1920px;
        height:100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        position:relative;
        z-index:100;

        &__logo{
            color:rgb(92, 59, 58);
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
        }

        &__nav{
            color:rgb(92, 59, 58);
            top:0;
            right:100%;
            bottom:0;
            width:100%;
            height:100vh;
            position:fixed;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            transform: translate(0);
            transition: 0.3s ease transform;

            @include breakpoint(md){
                transform: none;
                flex-direction: row;
                margin:0 1em;
                width:auto;
                height:100%;
                position: static;
            }
            ul{
                list-style-type:none;
                padding:0;
                color:rgb(92, 59, 58);
                display:flex;
                flex-direction: column;
                margin-bottom: $spacing-lg;
                @include breakpoint(md){
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0;
                    font-weight: bold;

                }
                
            }
            li{
                text-decoration: none;
                list-style-type:none;
                color:rgb(92, 59, 58);
                padding:0.75rem 1.25rem;
                border-radius: $borderRadius;
                transition:0.3s ease all;
                a{
                    color:rgb(92, 59, 58);
                    list-style-type:none;
                    text-decoration: none;
                }
               
                &:active{
                    border-radius: calc(#{$borderRadius}+6px);
                }
            }
            &.isMenu{
                transform: translate(100%);
            }
        }

        &__toggle{
            cursor: pointer;
            display:flex;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;
            transition:0.3s ease all;
            position: relative;
            
            @include breakpoint(md){
                display:none;
            }
        }

        
    }
}